<<<<<<< HEAD
p+p{
	color:red;
}
div p{
	background-color: orange;
}
div{
	display: none;
}

[href]{
	display:block;
}
a[href="klo.com1"]{
	text-decoration: none;
	color:green;
}
[href$="5"]{
	background-color: yellow;
}
[href*="o.c"]{
	background-color:blue;
}
=======
/*
select{
	background-color: #99ddee;
}
*/
>>>>>>> 73dcb79a5fcd3c6bb8d54e99f8292b887a16a574
