body {
  text-align: center;
  /*font-size: 2em;*/
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid dotted black;
}
.tooltip .tooltiptextleft {
  /*visibility: hidden;*/
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  top: -5px;
  left: 105%;
}
.tooltip .tooltiptextright {
  /*visibility: hidden;*/
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  top: -5px;
  right: 105%;
}
.tooltip .tooltiptextbottom {
  /*visibility: hidden;*/
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}
.tooltip .tooltiptexttop {
  /*visibility: hidden;*/
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}
.tooltip:hover .tooltiptextleft {
  visibility: hidden;
}
.tooltip .tooltiptexttop::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
